<mat-toolbar color="primary">

  <mat-toolbar-row>
    <span>Juristi Virtual</span>
    <span class="example-spacer"></span>
    <button mat-icon-button class="example-icon favorite-icon" (click)="openHome()">
      <mat-icon>home</mat-icon>
    </button>
    <button mat-icon-button class="example-icon favorite-icon" (click)="openHistory()">
      <mat-icon>history</mat-icon>
    </button>
    <button mat-icon-button class="example-icon favorite-icon" (click)="openForm()">
      <mat-icon>add</mat-icon>
    </button>
    <button mat-icon-button class="example-icon" (click)="openHelp()">
      <mat-icon>help</mat-icon>
    </button>
  </mat-toolbar-row>

</mat-toolbar>
<router-outlet></router-outlet>
